body {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #eeeeee;
}

#root {
	width: 60vw;
}

.comment-form {
	width: 60%;
}

@media (max-width: 958px) {
	#root {
		width: 100vw;
	}

	.comment-form {
		width: 100%;
	}
}
